body {
   padding-top: 91px;
   background-color: beige;
}

.main {
    background-color: white;
    width: 570px;
    margin: auto;
    padding: 48px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px grey;
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 25px;
    margin-bottom: 40px;
}
.inputs-container > button{
    padding: 10px 24px;
    background-color: #52b4d2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 3px grey;
}
.inputs-container > button:active {
    box-shadow: 0px 0px 1px grey;
}
.inputs-container > input{
    height: 25px;
    width: 480px;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid grey;
}


.tab-bar > input {
    display: none;
}

.tab-bar > label {
    color: #737373;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    padding: 16px 29px;
    text-decoration: none;
    cursor: pointer;
}

.tab-bar > label:hover {
    background-color: #f7f7f7; 
}

.tab-bar-selected {
    border-bottom: 2px solid #3b71ca;
    color: #3b71ca;
}

.todo-container {
    margin: 34px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: #f2f7f7;
    border-radius: 5px;
    cursor: pointer;
}
.todo-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.todo-checkbox,
.todo-checkbox-checked {
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    width: 24px;
    height: 24px;
}

.todo-checkbox-checked {
    border-color: #29ABE2;
    background-image: url("../assets/checkbox.png");
    background-size: cover;
}

.todo-text,
.todo-text-completed {
    font-family: 'Rubik', sans-serif;
}

.todo-text-completed {
    text-decoration: line-through;
    color: #aaa;
}

.todo-delete {
    
    border-radius: 10px;
    width: 40px;
    height: 30px;
}

.todo:hover .todo-delete{
    background-color: #dd1111;
    background-image: url("../assets/trash.png");
    box-shadow: 0px 0px 5px #dd1111;
    /* box-shadow: 0px 0px 2px #dd1111; */
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}